body{
    background-color: rgb(17, 61, 75);
    font-family: 'Times New Roman', Times, serif;
}

h1{
    text-align: center;
    color: white;
    font-size: 40px;
}

.box{
    width: 80px;
    height: 80px;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(46, 140, 176);
    color: black;
}

.container{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 15px;
}